{% extends "manager/base3.html" %}

{% load staticfiles %}
{% block list%}


  <ul class="list-group ">
   <a href="{% url 'list_personne' %}" class="a-simple"><li class="list-group-item list-group-item-action list-group-item-success active">
     les client individual <span class="badge badge-primary badge-pill"> {{ user.profile.count_personne }} </span> </li>
 </a>

   <a href="{% url 'list_enterprise' %}" class="a-simple"><li class="list-group-item list-group-item-action list-group-item-success ">
     les entreprises <span class="badge badge-primary badge-pill"> {{ user.profile.count_entreprise }} </span></li>
 </a>
  </ul>

{% endblock %}




{% block content %}

<form action="{% url 'search_client' %}" method="post">
  {% csrf_token %}
  <div class="row mt-3">
    <div class="col-5">
    </div>
    <div class="col-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher Un Personne" aria-label="Search" name="search">
    </div>
    <div class="col-3 mt-1">
        <button type="submit" class="btn btn-sm btn-outline-success" >Recherch</button>
    </div>
  </div>


</form>

<div class="border  p-1 mt-3 radius ">

<div class="header-siuvi p-3 m-1 radius " >
  <div class="row mb-3 border-bottom pb-2 ">
    <div class="col-4">
      <div class="row">
        <div class="col-lg-6 col-6 text-center">
          Nom d'utilusateur
        </div>

        <div class="col-lg-6 col-6 text-center">
          Nom
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="row">
        <div class="col-3 text-center">
          Prenom
        </div>
        <div class="col-6 text-center">
          Email adress
        </div>
        <div class="col-3 text-center">
          Suprimer
        </div>
      </div>
    </div>
  </div>


  {% for client in clients %}
    <div class="row mt-3 border-bottom pb-2 ">
      <div class="col-4">
        <div class="row">
          <div class="col-6 text-center">
          <a class="a-hovered" href="#"></a> <a class="a-hovered" href="{% url 'manager_client_info' client.id %}"> {{ client.username }}</a>
          </div>

          <div class="col-6 text-center">
            {{ client.profile.personne.first_name }}
          </div>
        </div>
      </div>

      <div class="col-8 ">
        <div class="row">
          <div class="col-3 text-center">
            <span class="mr-1">{{ client.profile.personne.last_name }}
        </div>
        <div class="col-6 text-center">
          <span class="mr-1">{{ client.email }}
      </div>

        <div class="col-3 text-center">
          <form  action="{% url 'delete_personne' client.id %}" method="get">
            {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger btn-sm" ><i class="fas fa-backspace"></i></button>
          </form>
        </div>
      </div>


    </div>
  </div>

  {% endfor %}
  </div>
</div>

{% endblock %}
