{% extends "manager/base3.html" %}

{% load staticfiles %}
{% block list%}


  <ul class="list-group ">
   <a href="{% url 'manager_requets' %}" class="a-simple"><li class="list-group-item list-group-item-action list-group-item-success active">
     Noveau Reclamation <span class="badge badge-primary badge-pill " id="new-reclamation">  </span> </li>
 </a>

   <a href="{% url 'manager_approved_requets' %}" class="a-simple"><li class="list-group-item list-group-item-action list-group-item-success ">
     Reclamation approveé <span class="badge badge-primary badge-pill"> {{ user.profile.count_approved_requets }} </span></li>
 </a>

   <a href="{% url 'manager_fixed_requets' %}" class="a-simple"><li class="list-group-item list-group-item-action list-group-item-success ">
     Les Problem Fixeé <span class="badge badge-primary badge-pill"> {{ user.profile.count_fixed_requets }} </span></li>
   </a>

   <a href="{% url 'requet_notée' %}" class="a-simple"><li class="list-group-item list-group-item-action list-group-item-success ">
     Reclamation notée <span class="badge badge-primary badge-pill " id="note">  </span></li>
   </a>

  </ul>

{% endblock %}




{% block content %}

<div class="border  p-1 mt-3 radius ">

<div class="header-siuvi p-3 m-1 radius " >
  <div class="row mb-3 border-bottom pb-2 ">
    <div class="col-6">
      <div class="row">
        <div class="col-lg-1 col-2 text-center">
          N°:
        </div>

        <div class="col-lg-7 col-6 text-center">
          Reclamation
        </div>
        <div class="col-lg-4 col-4 text-center">
          Date De Creation
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-3 text-center">
          Client
        </div>
        <div class="col-3 text-center">
          Montrer / Modifier
        </div>
        <div class="col-3 text-center">
          Aprover
        </div>
        <div class="col-3 text-center">
          Suprimer
        </div>
      </div>
    </div>
  </div>


  {% for requet in requets %}
    <div class="row mt-3 border-bottom pb-2 ">
      <div class="col-6">
        <div class="row">
          <div class="col-1 text-center">
            {{ requet.id }}
          </div>

          <div class="col-7 text-center">
            {{ requet.problem }}
          </div>
          <div class="col-4 text-center">
            {{ requet.pub_date|date:"d/m/Y , H : i" }}
          </div>
        </div>
      </div>

      <div class="col-6 ">
        <div class="row">
          {% if requet.client.profile.type == "entreprise" %}
          <div class="col-3 text-center">
            <span class="mr-1 "><a class="a-hovered" href="{% url 'manager_client_info' requet.client.id %}">{{ requet.client }}</a></span> <i class="fas fa-building"></i>
          </div>
          {% elif requet.client.profile.type == "personne" %}
          <div class="col-3 text-center">
            <span class="mr-1"><a class="a-hovered" href="{% url 'manager_client_info' requet.client.id %}">{{ requet.client }}</a> <i class="fas fa-user"></i>
          </div>
          {% endif %}

        <div class="col-3 text-center">
          <form  action="{% url 'edit_requet' requet.id %}" method="get">
            {% csrf_token %}
              <button type="submit" class="btn btn-outline-secondary btn-sm" ><i class="fas fa-edit"></i></button>
          </form>
        </div>

        <div class="col-3 text-center">
          <form  action="{% url 'aprove_requet' requet.id %}" method="post">
            {% csrf_token %}
              <button type="submit" class="btn btn-outline-success btn-sm" ><i class="fas fa-check"></i></button>
          </form>
        </div>

        <div class="col-3 text-center">
          <form  action="{% url 'manager_delete_requet' requet.id %}" method="get">
            {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger btn-sm" ><i class="fas fa-backspace"></i></button>
          </form>
        </div>
      </div>


    </div>
  </div>

  {% endfor %}
  </div>
</div>
<script src="{% static 'count.js' %}">
</script>

{% endblock %}
