{% extends "manager/base3.html" %}

{% block content %}

<div class="border p-3 m-4 header-siuvi radius">

    {% if c_requet.client.profile.type == "personne" %}
    <div class="alert alert-danger ">
      <h4>  êtes-vous sûr de vouloir supprimer la demande de l'utilisateur {{ c_requet.client.username }}?</h4>
    </div>
    {% elif c_requet.client.profile.type == "entreprise" %}
    <div class="alert alert-danger ">
      <h4>  êtes-vous sûr de vouloir supprimer la demande de l'entreprise {{ c_requet.client.username }}?</h4>
    </div>
    {% endif %}


<form  action="{% url 'manager_delete_requet' requet.id %}"  method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger btn-sm"> Suprimer </button>
  <a href="{% url 'manager_requets' %}"><button type="button" class="btn btn-secondary btn-sm">Cancel</button></a>

</form>
</div>

{% endblock %}
