{% extends 'manager/base3.html' %}


{% load crispy_forms_tags %}
{% block list%}
<ul class="list-group ">
 <a href="{% url 'list_tech' %}" class="a-simple"><li class="list-group-item list-group-item-action list-group-item-success active">
 Tout Technicien <span class="badge badge-primary badge-pill"> {{ user.profile.count_tech }} </span> </li>
</a>

 <a href="{% url 'register_employee' %}" class="a-simple"><li class="list-group-item list-group-item-action list-group-item-success ">
   Ajouter un nouveau technicien </li>
</a>

 <a href="{% url 'register_admin' %}" class="a-simple"><li class="list-group-item list-group-item-action list-group-item-success ">
    Ajouter un nouveau admin compte </li>
 </a >

</ul>
{% endblock %}


{% block content %}

        <div class="change-info mt-4 p-4">
          {% if error1 %}
          <div class="alert alert-danger">
            {{ error1 }}
          </div>
          {% endif %}
          <form  action="{% url 'tech_info' tech.id %}" method="post">
            {% csrf_token %}

            <legend class="text-center border-bottom mb-4">les informations de {{ tech.username }} technicien</legend>

            {{ u_form.as_p }}
            {{ p_form.as_p }}
            {{ a_form|crispy }}

            <div class="inscrire">
              <button class="btn btn-primary  btn-sm " type="submit" name="button">Changer </button>
              <a href="{% url 'list_tech'  %}"><button class="btn btn-secondary btn-sm ml-2" type="button">Cancel</button></a>
            </div>
          </form>

        </div>

              <!--   reclamation de cette tech  -->

        <h3 class="text-center border-bottom pb-2 mb-3 mt-3"> les réclamations dans le temps courant qui doivent être traitées par {{ tech.username }} Client </h3>
        
        <div class="border  p-1 mt-3 radius ">
        
          <div class="header-siuvi p-3 m-1 radius ">
            <div class="row mb-3 border-bottom pb-2 ">
              <div class="col-6">
                <div class="row">
                  <div class="col-lg-1 col-2 text-center">
                    N°:
                  </div>
        
                  <div class="col-lg-7 col-6 text-center">
                    Reclamation
                  </div>
                  <div class="col-lg-4 col-4 text-center">
                    Date De Creation
                  </div>
                </div>
              </div>
        
              <div class="col-6">
                <div class="row">
                 <div class="col-6 text-center">
                   date d'approbation
                  </div>
                  <div class="col-3 text-center">
                    client
                  </div>
                  <div class="col-3 text-center">
                    Suprimer
                  </div>
                </div>
              </div>
            </div>

            {% for requet in tech.works.all %}
            
            {% if requet.state == "apprové par l'administrateur" %}
            
            <div class="row mt-3 border-bottom pb-2 rec-s">
              <div class="col-6">
                <div class="row">
                  <div class="col-lg-1 col-2 text-center mt-2">
                    {{ requet.id }}
                  </div>
            
                  <div class="col-lg-7 col-6 text-center mt-2">
                    <a class="a-hovered" href="{% url 'edit_requet' requet.id %}"> {{ requet.problem }}
                    </a>
                  </div>
                  <div class="col-lg-4 col-4 text-center mt-2">
                    {{ requet.pub_date|date:"d/m/Y , H : i" }}
                  </div>
                </div>
              </div>
            
              <div class="col-6">
                <div class="row">
                 <div class="col-6 text-center mt-2">
                    {{ requet.aprove_date|date:"d/m/Y , H : i" }}
                  </div>                 
                  <div class="col-3 text-center mt-2">
                      <a class="a-hovered" href="{% url 'manager_client_info' requet.client.id %}"> {{ requet.client }}</a>
                  </div>
                  <div class="col-3 text-center ">
                    <form action="{% url 'manager_delete_requet' requet.id %}" method="get">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-danger btn-sm mt-2"><i class="fas fa-backspace"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
  {% endif %}
  {% endfor %}


{% endblock %}
