img.mb-3.admin-icon {
    width: 200px;
        margin-top: 20px;
}
.navbar.navbar-light.navbar-expand-lg.navbar-custom {
background-color: #31425a;
border-radius: 50px;
margin-right: 15px;
margin-left: 14px;
margin-top: 15px;
}
.testlogo {
font-size: 18px;
float: right;
margin-top: 35px;
font-weight: 300;
text-transform: uppercase;
color: #1fd5b9;
}
.nav-link {
font-size: 15px;
margin-top: 5px;
font-weight: 300;
text-transform: uppercase;
color: #31425a;
background-color: #1fd5b9;
border-radius: 30px;
margin-left: 9px;
}
.a-simple{
  text-decoration: none;
  color: black;
}
.a-simple:hover {
    text-decoration: none;
    color: black;
    background: rgba(236, 250, 255, 0.83);
}

.list-bar {
    background: #31425a;
    border-radius: 20px;
}
.list-group-item.list-group-item-action.list-group-item-success.active {
    text-align: center;
    border-radius: 30px;
    margin-bottom: 20px;
    background: #58bdae;
}
ul.list-group {
    text-align: center;
    margin-bottom: 20px;
}
.list-group-item-success {
    color: #feffff;
    background-color: #3da091;
    margin-top: 15px;
}
.nav2-base3 {
    background: #31425a;
    margin-top: 25px;
    border-radius: 30px;
}
.iconadminhome {
    background: #1fd5b9;
    margin: 30px;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #30415a;
        width: 230px;
}
.col-3.mt-4 {
    display: inline;
}
.header-siuvi{
    background: #31425a;
    border-radius: 35px;
}
.form-control{
    border-radius: 15px;
    background: transparent;
    letter-spacing: 1px;
    font-size: 18px;
    border: 2px solid #30415a;
}
.adminclpnu {
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgba(236, 250, 255, 0.83);
    color: #30415a;
}
.adminclpn {
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgba(236, 250, 255, 0.83);
    padding-top: 17px;
    color: #30415a;
}
.adminclpp {
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgba(236, 250, 255, 0.83);
    height: 66px;
    color: #30415a;
    padding-top: 17px;
}
.adminclpe {
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgba(236, 250, 255, 0.83);
    height: 66px;
    color: #30415a;
    padding-top: 17px;
}
.adminclps {
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgba(236, 250, 255, 0.83);
    height: 66px;
    color: #30415a;
    padding-top: 17px;
}
.adminclient {
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #1fd5b9;
}
.adminclientid {
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #30415a;
    background: #cddbe2;
    height: 26px;
    border-radius: 20px;
}
.adminclientp {
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 25px;
    color: #1fd5b9;
}
.adminclpna {
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgba(236, 250, 255, 0.83);
    padding-top: 17px;
    color: #30415a;
    padding-bottom: 16px;
}
.textstatictop{
    background: aquamarine;
    border-style: solid;
    border-radius: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    text-transform: uppercase;
    color: #30415a;
}
canvas#myChart {
    padding: 22px;
    border-style: solid;
    background: #e0e4ea;
    border-radius: 35px;
    margin-bottom: 30px;
}
.change-info{
    background: #e0e4ea;
    border-style: solid;
    border-radius: 30px;
    margin-bottom: 30px;
}

.inscrire {
    padding: 14px 7px;
    color: white;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    border: none;
    margin-bottom: 25px;
    background: #31425a;
    width: 240px;
    margin: auto;
    border-radius: 25px;
}
