body{
  background-color: #d6f8b8;
}
.helptext{
  font-size: 14px;
  color: #333333;
  margin-left: 20px;
}
.inscrire{
  width : 50%;
  margin : auto;

}
.errorlist{
  list-style-type: none;
  color : #800000 ;
  border-radius: 6px;
  background-color:   #ffcccc;
}
ul{
  /* margin-top: -30px; */
  /* list-style-type: none; */
  /* margin-left: -20px;
  font-size: 14px; */
}


#AT{
  width: 200px;
  height: 80px;
  vertical-align: bottom;
}
.header{
  height: 120px;
  background-color: #99ff99;
  font-family: 'Libre Baskerville', serif;
}
.register ,.login ,.login-tech{
  background-color: #acdeaa;
  border-radius: 5px;
}
.login {
  height: 460px;
}
.login-tech {
  height: 460px;
  width: 500px;
}

.icon-h{
  width : 60px;
  height: 30px;
  vertical-align: bottom;
}
.change-info{
  background-color: #acdeaa;
  border-radius: 5px;
  width : 50%;
  margin: auto;
}
.header-siuvi{
  background-color: #acdeaa;
}
.radius{
  border-radius: 5px;
}
.centered {
  width: 50%;
  margin: auto;
}
.a-simple{
  text-decoration: none;
  color: black;
}
.a-simple:hover{
  text-decoration: none;
  color: black;
}


/* ------------------------------- 66ff66      nav bar styling ---------------------------------------------------*/


.navbar-custom {
    background-color: #8fbbaf;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #000000;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #000000;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
nav {
    font-family: 'Libre Baskerville', serif;
}
.register-icon{
  width : 30%;
  margin: auto;
}


/* ------------------------ whene we have a small or ohone screen -------------------------------------- */

@media only screen and (max-width: 1000px) {

  .change-info{
    background-color: #acdeaa;
    border-radius: 5px;
    width : 100%;
  }
  .centered {
    width: 100%;
    margin: auto;
  }

}
