{% extends 'requets/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

  {% if request.user.profile.type == "personne" %}
        <div class="change-info mt-4 p-4">

          <form  action="{% url 'client_info' %}" method="post" class="clinfo">
            {% csrf_token %}

            <legend class="text-center mb-4"><h1 class="reqinfixtitle">les information de {{ user }} client</h1></legend>
            {% if error1 %}
            <div class="errorlist">
                    {{ error1 }}
            </div>

            {% endif %}
            {{ ps_form.as_p }}
            {{ u_form.as_p }}
            {{ p_form.as_p }}
            {{ a_form|crispy }}

            <button class="btn btn-primary btn-block btn-sm inscrire" type="submit" name="button">Changer mes information </button>
          </form>

        </div>

  {% else %}

  <div class="change-info mt-4 p-4">

    <form  action="{% url 'entreprise_info' %}" method="post" class="clinfo">
      {% csrf_token %}

      <legend class="text-center mb-4"><h1 class="reqinfixtitle">les information de {{ user }} client</h1></legend>
      {% if error1 %}
      <div class="errorlist">
              {{ error1 }}
      </div>

      {% endif %}
      {{ c_form.as_p }}
      {{ u_form.as_p }}
      {{ p_form.as_p }}
      {{ a_form|crispy }}

      <button class="btn btn-primary btn-block btn-sm changeinfobtn" type="submit" name="button">Changer mes information </button>
    </form>

  </div>

  {% endif %}



{% endblock %}
