<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'styling.css' %}">
    <link rel="stylesheet" href="{% static 'radio_css.css' %}">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

    <!-- Font Awsome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Jquery scripts -->
    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"></script>

  </head>

  <body class="mb-4">
    <div class="header mb-4">
          <h1 class="text-center"> <img id="AT" src="{% static 'img/algerieT.png' %}" ><span class="ml-4 ">Algerie Telecom Service de declaration</span>   </h1>
    </div>
    <div class="container">


      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
        <div class="row">
          <div class="col-md-5 col-xs-12 ">
                <div class="register-icon">
                    <i class="fas fa-sign-in-alt fa-7x"></i>
                </div>
            <div class="p-3 login">
                <form action="{% url 'login' %}" method="POST">
                  {% csrf_token %}

                  <legend class="text-center border-bottom mb-4"> Login </legend>
                   {% if error %}
                     <div class="alert alert-danger">
                        {{ error }}
                     </div>
                   {% endif %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Votre Username :</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom d'utilisateur" name="username">
                      <small id="emailHelp" class="form-text text-muted">Assurez-vous d'écrire correctement votre nom d'utilisateur et votre mot de passe</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Votre mot de passe :</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot De Passe" name="password">
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">garder mes informations</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-sm inscrire mb-1">Login</button>
                    <small class="text-muted">Avez-vous oublié votre mot de passe? réinitialiser à partir d' <a href="{% url 'reset_password' %}">ici</a></small>
                  </form>
            </div>

          </div>


          <div class="col-md-1 col-xs-0 ">

          </div>


          <div class="col-md-6 col-xs-12 ">
            <div class="register-icon">
                <i class="fas fa-user-plus fa-7x "></i>
            </div>
            <div class="register  p-3 ">
              <form  action="{% url 'register' %}" method="post">
                {% csrf_token %}

                <legend class="text-center border-bottom mb-4"> S'inscrire</legend>
                <label > <strong> Je Sius : </strong></label>
                <div class="cc-selector">
                  <div class="row mb-3">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                      <input id="personne" type="radio" name="type" value="personne" required/>
                      <label class="drinkcard-cc personne" for="personne"></label>
                    </div>
                    <div class="col-3">
                      <input id="enterprise" type="radio" name="type" value="entreprise" />
                      <label class="drinkcard-cc enterprise"for="enterprise"></label >
                    </div>
                    <div class="col-3">

                    </div>
                  </div>
                </div>
                <div class="info-entreprise mb-3" >
                  <input id="e_name" class="form-control" type="text" placeholder="Nom de Votre Entreprise" name="name" >
                </div>

                <div class="info-personne mb-3" >
                  <input id="f_name" class="form-control mb-2" type="text" placeholder="Nom" name="first_name"  >
                  <input id="l_name" class="form-control mb-3" type="text" placeholder="Prenom" name="last_name"  >
                </div>
                {{ u_form.as_p }}
                {{ p_form.as_p }}

                <div class="info-entreprise mt-3">
                  <label for="">L'address de votre entreprise :</label>

                  <select  id="e_region" class="form-control mb-2" name="e_region">
                    <option value="bouira" >bouira</option>
                    <option value="sour" >sour</option>
                    <option value="hachimia" >hachimia</option>
                  </select>

                  <input id="e_commune" class="form-control mb-2" type="text" placeholder="La Commune" name="e_commune" >
                  <input id="e_rue" class="form-control mb-2" type="text" placeholder="La Rue" name="e_rue" >
                </div>

                <div class="info-personne mt-3">
                  <label for=""> Votre Address :</label>

                  <select  id="p_region" class="form-control mb-2" name="region">
                    <option value="bouira" >bouira</option>
                    <option value="sour" >sour</option>
                    <option value="hachimia" >hachimia</option>
                  </select>

                  <input id="p_commune" class="form-control mb-2" type="text" placeholder="La Commune" name="commune" >
                  <input id="p_rue" class="form-control mb-2" type="text" placeholder="La Rue" name="rue" >
                  <input id="p_logement" class="form-control mb-2" type="text" placeholder="N° de Logement" name="logement" >
                </div>

                <button class="btn btn-primary btn-block btn-sm inscrire" type="submit" name="button">S'inscrire</button>
              </form>
          </div>
        </div>

        </div>
    </div>



    <!-- Custom scripts -->
    <script src="{% static 'myscripts.js' %}" >

    </script>

    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
