{% extends 'requets/base.html' %}
{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}
<h1> welcome to home page</h1>
{% else %}

<div class="header mb-4">
      <h1 class="text-center"> <img id="AT" src="{% static 'img/algerieT.png' %}" ><span class="ml-4 ">Algerie Telecom Service de declaration</span>   </h1>
</div>
<div class="container">


  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
      {{ message }}
  </div>
  {% endfor %}
  {% endif %}
    <div class="row">
      <div class="col-md-5 col-xs-12 ">
        <div class="p-3 login">
            <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}

              <legend class="text-center border-bottom mb-4"> Login </legend>
               {% if error %}
                 <div class="alert alert-danger">
                    {{ error }}
                 </div>
               {% endif %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Votre Username :</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom d'utilisateur" name="username">
                  <small id="emailHelp" class="form-text text-muted">Assurez-vous d'écrire correctement votre nom d'utilisateur et votre mot de passe</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Votre mot de passe :</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot De Passe" name="password">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">garder mes informations</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-sm inscrire mb-1">Login</button>
                <small class="text-muted">Avez-vous oublié votre mot de passe? réinitialiser à partir d' <a href="{% url 'reset_password' %}">ici</a></small>
              </form>
        </div>

      </div>


      <div class="col-md-1 col-xs-0 ">

      </div>


      <div class="col-md-6 col-xs-12 ">
        <div class="register  p-3 ">
          <form  id="user-form" action="{% url 'register' %}" method="post">
            {% csrf_token %}

            <legend class="text-center border-bottom mb-4"> S'inscrire</legend>
            <label > <strong> Je Sius : </strong></label>
            <div class="cc-selector">
              <div class="row mb-3">
                <div class="col-3">
                </div>
                <div class="col-3">
                  <input id="personne" type="radio" name="type" value="personne" required/>
                  <label class="drinkcard-cc personne" for="personne"></label>
                </div>
                <div class="col-3">
                  <input id="enterprise" type="radio" name="type" value="entreprise" />
                  <label class="drinkcard-cc enterprise"for="enterprise"></label >
                </div>
                <div class="col-3">

                </div>
              </div>
            </div>
            <div class="info-entreprise mb-3" >
              <input id="e_name" class="form-control" type="text" placeholder="Nom de Votre Entreprise" name="name" >
            </div>

            <div class="info-personne mb-3" >
              <input id="f_name" class="form-control mb-3" type="text" placeholder="Nom" name="first_name"  >
              <input id="l_name" class="form-control mb-3" type="text" placeholder="Prenom" name="last_name"  >
            </div>

            <div class="mb-3">
                {{ u_form.username }}
                <ul>
                <li  class="errors" id="u-error"> nom d'utilisateur doit être unique</li>
                </ul>
            </div>

            <div class="mb-3">
                {{ u_form.email }}
                <ul>
                <li class="errors" id="e-error"> email doit être unique </li>
                </ul>
            </div>

           <div class="mb-3">
              {{ u_form.password1 }}
              <ul>
              <li  class="errors" id="p1-error1"> le mot de passe doit contenir des caractères et des chiffres</li>
              <li  class="errors" id="p1-error2"> le mot de passe doit comporter plus de 8 caractères </li>
              <li  class="errors" id="p1-error3">le mot de passe ne doit pas être trop similaire aux autres informations</li>
              </ul>
            </div>

           <div class="mb-3">
               {{ u_form.password2 }}
               <ul>
                <li  class="errors" id="p2-error"> les deux mot de passe doivent correspondre </li>
                </ul>
            </div>

            <div class="mb-3">
               {{ p_form.as_p }}
              <ul  >
              <li id="t-error"  >
               entrez un numéro de téléphone fixe s'il vous plaît (commence par 0 et contient neuf chiffres) 
               </li>
              </ul>
            </div>

            
            

            <div class="info-entreprise mt-3">
              <label for="">L'address de votre entreprise :</label>

              <select  id="e_region" class="form-control mb-3" name="e_region">
                <option value="bouira" >bouira</option>
                <option value="sour" >sour</option>
                <option value="hachimia" >hachimia</option>
              </select>

              <input id="e_commune" class="form-control mb-3" type="text" placeholder="La Commune" name="e_commune" >
              <input id="e_rue" class="form-control mb-3" type="text" placeholder="La Rue" name="e_rue" >
            </div>

            <div class="info-personne mt-3">
              <label for=""> Votre Address :</label>

              <select  id="p_region" class="form-control mb-3" name="region">
                <option value="bouira" >bouira</option>
                <option value="sour" >sour</option>
                <option value="hachimia" >hachimia</option>
              </select>

              <input id="p_commune" class="form-control mb-3" type="text" placeholder="La Commune" name="commune" >
              <input id="p_rue" class="form-control mb-3" type="text" placeholder="La Rue" name="rue" >
              <input id="p_logement" class="form-control mb-3" type="text" placeholder="N° de Logement" name="logement" >
            </div>

            <button id="btn" class="btn btn-primary btn-block btn-sm inscrire" type="submit" name="button">S'inscrire</button>
            <div class="p-2 mt-2 " id="big-error"></div>
          </form>
      </div>
    </div>

    </div>
</div>
{% endif %}

<script src="{% static 'form_validation.js' %}" >
</script>

{% endblock %}
