{% extends 'requets/base2.html' %}

{% block content %}

<div class="container reqinfoh border p-4 m-4">
  <h1 class="titlereqtech">la Reclamation</h1>
    <h3 class="subtitlereqtech">Type de problem : </h3><h3 class="subtitlereqtecht">{{ requet.problem }}</h3>
  <br/><h3 class="subtitlereqtech">Description de problem :</h3>
  <p class="subtitlereqtechp"> {{ requet.content }}</p><br>
</div>

{% if requet.nots.count > 0 %}

<div class="alert alert-danger border-bottom p-3 m-4">
  {% if requet.nots.last.owner.profile.group == "tech" %}
Notifée Par le Technicien  : {{ requet.nots.last.owner.username  }}<br />
 {% else %}
Notifée Par le Client  : {{ requet.nots.last.owner.username  }}<br />
 {% endif %}
    Notification  : <br /> {{ requet.nots.last.content  }}
</div>

{% endif %}

{% if requet.client.profile.type == "personne"%}

<div class="container reqinfoh border p-4 m-4 ">

  <div class="header-siuvi p-3 m-1 radius" >
    <div class="titleinfoclient">
        <h2> {{ client.username }} informations </h2>
      </div>

    </div>
    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
        First Name
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.personne.first_name }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
        Last Name
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.personne.last_name }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
          Daira
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.address.region }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
          La Commune
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.address.commune }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
          Rue / N° de Logement
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.address.rue }} /  {{ client.profile.address.logement }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
        Telephone FIx
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.phone_number }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
       Date De Réclamation
       </div>
        <div class="lefttechreq text-center col-6 ">
        {{ requet.pub_date|date:"d / m / Y, H : i" }}
       </div>
    </div>

    <form action="{% url 'problem_fixed' requet.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-block btn-sm btn-outline-success inscrire mb-1"> Problème résolu</button>
    </form>

    <form action="{% url 'note' client.id requet.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-block btn-sm btn-outline-danger inscrire mb-1"> ne peut pas résoudre le problème</button>
    </form>

  </div>
{% elif requet.client.profile.type == "entreprise"%}


<div class="border mt-4 radius centered ">

  <div class="header-siuvi p-3 m-1 radius" >
    <div class="text-center">
        <h2> L'entreprise {{ client.username }}  informations </h2>
      </div>

    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
        Name
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.company.name }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
          Daira
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.address.region }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
          La Commune
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.address.commune }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
          Rue
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.address.rue }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
        Telephone FIx
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{ client.profile.phone_number }}
      </div>
    </div>

    <div class="row mb-3  pb-2 border-bottom client-info">
      <div class="righttechreq text-center col-6 ">
        Date De Réclamation
      </div>
      <div class="lefttechreq text-center col-6 ">
        {{  requet.pub_date|date:"d / m / Y, H : i" }}
      </div>
    </div>

    <form action="{% url 'problem_fixed' requet.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-block btn-sm btn-outline-success inscrire mb-2"> Problème résolu</button>
    </form>

    <form action="{% url 'note' client.id requet.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-block btn-sm btn-outline-danger inscrire mb-3"> ne peut pas résoudre le problème</button>
    </form>

  </div>


{% endif %}


{% endblock %}
