<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'styling.css' %}">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

    <!-- Font Awsome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand-lg navbar-custom">
      <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img class="icon-h" src="{% static 'img/algerieT.png' %}"> Algerie Telecom</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>

              </ul>
              <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                  <a href="{% url 'create_requete' %}" class="nav-link">Cree Un Reclamation</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'siuvi_requete' %}" class="nav-link">Siuvi Votre Reclamation</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'requet_fixée' %}" class="nav-link">Les Reclamation Fixeé</a>
                </li>
                {% if user.profile.type == "personne" %}
                <li class="nav-item">
                  <a href="{% url 'client_info'%}" class="nav-link">{{ user.username }} <i class="far fa-address-card fa-lg"></i></a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a href="{% url 'entreprise_info'%}" class="nav-link">{{ user.username }} <i class="far fa-address-card fa-lg"></i></a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link"><i class="fas fa-sign-out-alt fa-lg"></i></i></a>
                </li>
            </div>
          </div>
        </nav>

        <form  id="logout" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <input type="hidden" >
        </form>



        <div class="container">
          {% if messages %}
          {% for message in messages %}
            {% if message.tags == "error" %}
              <div class="alert alert-danger">
                {{ message }}
              </div>
              {% else %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}

          {% block content %}
          {% endblock %}

        </div>



        <!-- Custom scripts -->
        <script type="text/javascript">

        </script>

        <!-- Bootstrap Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
