{% extends 'requets/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="bodychose">
<div class="row choose-board">
  <div class="col-md-6 col-xs-12 int">
    <a class="a-simple" href="{% url 'create_requete_internet' %}">
          <div class="boreder text-center p-3 mt-4 choose">
            <div class="mb-4 text-center text-choose">    <strong> <h1 class="pint">Problem D'internet</h1> </strong>  </div>
            <div class="intp"> <i class="fas fa-wifi fa-10x"></i>  </div>

          </div>
      </a>
  </div>
  <div class="col-md-6 col-xs-12 int">
    <a class="a-simple" href="{% url 'create_requete_telephonique' %}">
          <div class="boreder text-center p-3 mt-4 choose">
            <div class="mb-4 text-center text-choose">    <strong> <h1 class="pint">Problem De Telephone Fix </h1> </strong>  </div>
            <div class="tlfnp"> <i class="fas fa-phone-slash fa-10x"></i>  </div>

          </div>
      </a>
  </div>

    </div>
    </div>





{% endblock %}
