{% extends 'requets/base.html' %}

{% block content %}

<div class="container conlistrecl p-1 ">

<div class="header-siuvi" >
  <div class="row">
    <div class="colheadrea col-md-5 col-4">
      Votre Requets
    </div>
    <div class="colheadrea col-md-4 col-4">
      Etat de Requet
    </div>
    <div class="colheadrea col-md-3 col-4">
      Suprimer Requet
    </div>
  </div>


  {% for requet in requets %}
    {% if requet.state == "ont étape de traitement" %}
      <div class="row colheadreas  rec-s">
        <div class="colheadreas col-md-5 col-6 ">
          {{ requet.problem }}
        </div>
        <div class="colheadreas col-md-4 col-4">
          {{ requet.state }}
        </div>
        <div class="colheadreas col-md-3 col-2">
          <form  action="{% url 'delete_requete' requet.id %}" method="get">
            {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger btn-sm mt-2" ><i class="fas fa-backspace"></i></button>
          </form>
        </div>
      </div>
    {% elif requet.state == "apprové par l'administrateur" %}

    <div class="row colheadreas rec-a">
      <div class="col-md-5 col-6 ">
        {{ requet.problem }}
      </div>
      <div class="col-md-4 col-4">
        {{ requet.state }} <span class="badge badge-primary badge-pill" >  {{ requet.get_index }} </span>
      </div>
      <div class="col-md-3 col-2">
        <form  action="{% url 'delete_requete' requet.id %}" method="get">
          {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm mt-2" ><i class="fas fa-backspace"></i></button>
        </form>
      </div>
    </div>
    {% elif requet.state == "Problème Résolu" and  requet.fix_confirm == False %}

    <div class="row colheadreas rec-r1">
      <div class="col-md-5 col-6 ">
        {{ requet.problem }}
      </div>
      <div class="col-md-4 col-4">
        {{ requet.state }}
      </div>
      <div class="col-md-3 col-2">
        <form  action="{% url 'requet_fixée' requet.id %}" method="get">
          {% csrf_token %}
            <button type="submit" class="btn btn-outline-success btn-sm mt-2" ><i class="far fa-calendar-check"></i></button>
        </form>
      </div>
    </div>

    {% elif requet.state == "Problème Résolu" and  requet.fix_confirm == True %}

    <div class="row colheadreas rec-r2">
      <div class="col-md-5 col-6 mt-2">
        {{ requet.problem }}
      </div>
      <div class="col-md-4 col-4 mt-2">
        {{ requet.state }}
      </div>
      <div class="col-md-3 col-2">
          <i class="far fa-smile fa-lg"></i>
      </div>
    </div>

    {% endif %}
  {% endfor %}
  </div>
</div>


{% endblock %}
