{% extends 'requets/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="change-info mt-4 p-4">

  <form  action="{% url 'create_requete_internet' %}" method="post">
    {% csrf_token %}

    <legend class="text-center border-bottom mb-4"> écrivez une description de votre problème </legend>
    {% if error1 %}
    <div class="errorlist">
            {{ error1 }}
    </div>

    {% endif %}
    {{ form|crispy }}
    <button class="btn btn-primary btn-block btn-sm inscrire" type="submit" name="button">Réclamer </button>
  </form>

</div>



{% endblock %}
